#map_container {
    width: 45%;
    height: 600px;
    float: left;
    clear: left;
    
}

#controls{
    position: absolute;
    float: left;
    clear: left;
    bottom: 50%;
}

#magnitude_container{
    display: flex;
    justify-content: right;
    align-content: center;
    padding-right: 15%;
    float: right;
    clear: right;
    width: 10%;
}
#list{
    float: right;
    clear: right;
    width: 45%;
}
#magnitude{
    font-size: large;

}
table,th,td{
    border:1px solid black;

}

#flexbox{
    display: flex;
}


